html {
    scroll-snap-type: y mandatory;
  }
  
  body {
    background: rgb(0, 100, 29);
    background: radial-gradient(
      circle,
      rgba(0, 100, 29, 1) 50%,
      rgba(252, 176, 69, 1) 100%
    );
    color: white;
    padding: 0 64px;
  }
  
  .App {
    font-family: sans-serif;
    text-align: center;
  }
  
  h2 {
    margin: 0;
    color: #ddd;
    bottom: calc(100% - 120px);
    /* left: calc(50%); */
    width: 100%;
    font-size: 48px;
    font-weight: 700;
    font-family: sofia-pro, sans-serif;
    font-style: normal;
    letter-spacing: -2px;
    line-height: 1.2;
    position: absolute;
  }

  p {
    color: #ccc;
    font-size: 36px;
    font-weight: 100;
    font-family: sofia-pro, sans-serif;
    font-style: normal;
  }
  
  img {
    width: 350px;
    height: 500px;
    object-fit: cover;
  }
  
  section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    scroll-snap-align: center;
    perspective: 500px;
  }